.body{
    width: 1680px;
    height: 2000px;
    margin: 0;
    padding: 0;
}
.LeftBar{
    width: 265px;
    height: 1300px;
    display: inline-block;
    background-color: #858585;
    border-radius: 8px;
    position: fixed;
}

.LeftBar a{
    display: block;
    width: 220px;
    height: 50px;
    font-size: 32px;
    
}

.LeftBar a img{
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    margin: 4px;
}

.UserData_block{
    position: fixed;
    display: inline-block;
    width: 1200px;
    max-height: 300px;
    left: 320px;
    top: 40px;
}

.UserData_block img{
    width: 410px;
    height: 294px;
    border-radius: 8px;
    display: inline-block;
}

.UserData_block_h1{
    position: relative;
    display: inline-block;
    width: 180px;
    height: 40px;
    margin: 0;
    padding: 0;
    top:-270px;
    left: 20px;
}

.UserData_block_h3{
    width: 250px;
    height: 150px;
    display: inline-block;
    position: relative;
    top: -80px;
    left: -165px;
}

.UserData_block_h3 h3{
    width: 240px;
    height: 25px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.UserData_block h4{
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 300px;
    top: -100px;
    left: -170px;
    font-family: '';
    font-size: 16px;
}

.AuthorPost{
    position: relative;
    align-items: center;
    border-radius: 8px;
    display: block;
    left: 310px;
    top: 357px;
    height: 1600px;
    height: auto;
    width: 80%;
    background-color: #858585;
}

.AuthorPost img{
    width:30%;
    height: 280px;
    margin: 1%;
    border-radius: 8px;
}

.PopUpForMoreAboutPost{
    display: none;
    position: absolute;
    left: 340px;
    z-index: 9;
    height: 1000px;
    width: 1350px;
    border-radius: 8px;
    background-color: #B1B7CE;
}

.PopUpForMoreAboutPost img{
    width:1250px;
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.PopUpForMoreAboutPost_AuthorInfoDiv{
    width: 1250px;
    height: 80px;
    position: relative;
    left: 50px;
    top: 15px;
    border-radius: 8px;
    background-color: #D9D9D9;
}

.PopUpForMoreAboutPost_AuthorInfoDiv img{
    width :80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
}

.PopUpForMoreAboutPost_AuthorInfoDiv h2{
    display: inline-block;
    width: 100px;
    position: relative;
    top: -25px;
    left: 15px;
    
}

.PopUpForMoreAboutPost_AuthorInfoDiv__LikeBtn{
    width: 50px;
}
.PopUpForMoreAboutPost_AuthorInfoDiv__LikeBtn img{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 0;
    position: relative;
    right: -860px;
    top: -20px;
}

.PopUpForMoreAboutPost_AuthorInfoDiv__SaveBtn{
    width: 50px;
}
.PopUpForMoreAboutPost_AuthorInfoDiv__SaveBtn img{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 0;
    position: relative;
    right: -860px;
    top: -20px;
}

.PopUpForMoreAboutPost_AuthorInfoDiv__FollowBtn{
    width: 100px;
    height: 20px;

    text-align: center;
    padding-top: 2px;
    display: inline-block;
    border-radius: 8px;
    background-color: #00A1D4;
    position: relative;
    left: 20px;
    top: -30px;

}

.PopUpForMoreAboutPost__CommentsBlock{
    position: relative;
    width: 1250px;
    height: auto;
    display: block;
    min-height: 225px;
    background-color: #A1A0A0;
    left: 50px ;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.PopUpForMoreAboutPost__CommentsBlock_comment{
    display: block;
    width: 1201px;
    height: 150px;
    border-radius: 8px;
    background-color: #D9D9D9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 8px;
}

.PopUpForMoreAboutPost__CommentsBlock_comment_AuthorAvatar{
    width: 100px!important;
    position: relative;
    display: inline-block;
    height: 100px;
    border-radius: 50%!important;
    top: 20px;
    left: -525px;
}

.PopUpForMoreAboutPost__CommentsBlock_comment_Author{
    position: relative;
    width: 150px;
    height: 50px;
    display: inline-block;
    top: -70px;
    left: 130px;
}

.PopUpForMoreAboutPost__CommentsBlock_comment_Created{
    position: relative;
    width: 150px;
    height: 50px;
    display: inline-block;
    left:-25px;
    top: -10px;
}

.PopUpForMoreAboutPost__CommentsBlock_comment_Text{
    position: relative;
    max-width: 890px;
    height: 50px;
    display: inline-block;
    top: -80px;
}